*{
    margin:0;
    box-sizing: border-box;
    padding:0;

}
body{
    background-color: #0C0B13;
    height:100dvh;
}
.navBar-container{
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.62rem;
    padding-right: 1.62rem;
    padding-top: 1.25rem;
}
.navbar-title{
    color:white;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: "Google Sans Code", monospace;
}
.button-container{
    display: flex;
    gap:0.93rem;
}
.bottoneRinnemon{
    height:1.6rem;
    width:5.6rem;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.6rem;
    color:white;
    border: 1px solid #B28EFD;
    border-radius: 5px;
    background-color: #9258FD;
    font-weight: bold;
    font-family: "Google Sans Code", monospace;

}
.bottoneGithub:hover{ /*Transizione da fare */
    transform: scale(1.08);
}
.bottoneGithub{
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    height:1.6rem;
    width:5.6rem;
    text-align: center;
    line-height: 1.6rem;
    font-size: 0.7rem;
    color:white;
    border: 1px solid #B28EFD;
    border-radius: 5px;
    background-color: #412A6F;
    font-weight: bold;
    font-family: "Google Sans Code", monospace;
}

.code-box-container{
    height: calc(100vh - 4.3rem);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-box{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 27rem;
    width: 42rem;
    border-radius: 18px;
    border: 1px solid #3B3949;
    background-color: #14131B;
}

.code-language{
    color: white;
}

.code-linguaggio{
    color:white;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
}
.code-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1.25rem;
    margin-left: 1.68rem;
    margin-right: 1.68rem;
}
.iconaCopy{
    color:white;
    cursor: pointer;
    font-size: 1.1rem;
}
.textLove{
    position: absolute;
    display: flex;
    justify-content: center;
    width:100%;
    bottom:0.43rem;
    font-size: 0.6rem;
    font-weight: regular;
    color:white;
    font-family: "Google Sans Code", monospace;

}
.code-text-container pre{
    white-space: pre-wrap;

}
.code-text-container::-webkit-scrollbar {
    display: none; /* Per Chrome, Safari e Opera */
}   
.code-text-container{
    scrollbar-width: none;  /* Per Firefox */
    padding-left: 1.68rem;
    margin-top:0.93rem;
    margin-bottom:0.93rem;
    margin-right: 0.93rem;
    overflow-y: auto;
    overflow-x: hidden;
    color:white;
    height: 100%;
    font-family: "Google Sans Code", monospace;
}
.spazio{
    height: 0.93rem;
}
a{
    text-decoration: none;
    color:white;
}
.check-text{
    color: green;
    font-family: "Google Sans Code", monospace;
    font-size: 12px;
}
.copy-text-container{
    display: flex;
    gap:1.25rem;
    justify-content: center;
}
@media(max-width:700px){
    *{
        margin:0;
        box-sizing: border-box;
        padding:0;
    }
    .code-box-container{
        margin-left: 20px;
        width:calc(100% - 40px);
        margin-right: 20px;
    }

}
@media(min-width: 1441px){
    html{
        font-size: 19px;
    }
    

}
@media(min-width:2561px){
    html{
        font-size: 28px;
    }
}